.catalog {

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1.6rem;
        margin-top: 4.2rem;


        li {
            width: 24.23%;
            position: relative;

            @include breakpoint($xl-bp) {
                width: 32.24%;
            }

            @include breakpoint($lb-bp) {
                width: 48.69%;
            }

            @include breakpoint($sm-bp) {
                width: 47.5%;
            }



            a {

                @include breakpoint($xl-bp) {
                    margin-right: 0rem;
                }
            }

        }
    }

    .catalog-filter {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .catalog-filter__position {
            display: flex;
            align-items: center;
            gap: 2.4rem;

            .catalog-filter__closeContainer {
                display: flex;
                gap: 1.6rem;

                .catalog-filter__closeBtn {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    background: #FEFDFD;
                    border-radius: 3.2rem;
                    padding: 0.5rem 1.2rem;
                    cursor: pointer;
        
                    p {
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 2.5rem;
                        color: #4F4A45;
                    }
        
                    svg {
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }
        }

        

        .catalog-filter__clearBtn {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.5rem;
            text-decoration-line: underline;
            color: #4F4A45;
            background: none;
            border: none;
        }

    }


}

.catalog-filter__dropdown {
    position: relative;
    display: inline-block;
}

.catalog-filter__dropdownBtn {
    padding: 1.5rem 1.6rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 2rem;
    line-height: 120%;
    color: #4F4A45;
    background: #FEFDFD;
    border-radius: 0.6rem;
    border: none;
}

.catalog-filter__dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 0rem 0rem 0.6rem 0.6rem;

    .catalog-filter__customCheckbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    /* для элемента label, связанного с .custom-checkbox */
    .catalog-filter__customCheckbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: #4F4A45;
        display: flex;
        gap: 1rem;
        cursor: pointer;
        padding: 1.3rem 1.6rem;
    }

    /* создание в label псевдоэлемента before со следующими стилями */
    .catalog-filter__customCheckbox+label::before {
        content: '';
        display: inline-block;
        width: 2.4rem;
        height: 2.4rem;
        flex-shrink: 0;
        flex-grow: 0;
        border: 0.1rem solid #4F4A45;
        border-radius: 0.6rem;
    }

    /* стили для чекбокса, находящегося в состоянии checked */
    .catalog-filter__customCheckbox:checked+label::before {
        border-color: #785D4C;
        background: #785D4C;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 70%;
    }

    /* стили для чекбокса, находящегося в состоянии disabled */
    .catalog-filter__customCheckbox:disabled+label::before {
        background-color: #e9ecef;
    }
}

.catalog-filter__dropdownContent div {
    text-decoration: none;
    display: block;
}

.catalog-filter__dropdownContent div:hover {
    background-color: #f1f1f1;
}

.catalog-filter__dropdown.show .catalog-filter__dropdownContent {
    display: block;
}