.passwordRecovery {

    
    .passwordRecovery-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include breakpoint($sm-bp) {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        h2 {
            text-align: center;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 26.25%;
            margin-top: 3.2rem;

            @include breakpoint($xl-bp) {
                width: 42.25%;
            }

            @include breakpoint($lb-bp) {
                width: 65%;
            }

            @include breakpoint($sm-bp) {
                width: 100%;
                margin-top: 2.4rem;
            }

            p {
                text-align: center;
                font-weight: 600;
                font-size: 2.2rem;
                line-height: 3.2rem;
                color: #4F4A45;

                @include breakpoint($sm-bp) {
                    font-size: 2.2rem;
                    line-height: 3.2rem;
                }
            }

            input {
                margin-top: 3.2rem;
                padding: 1.5rem 1.6rem;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2.4rem;
                display: flex;
                align-items: center;
                color: #4F4A45;
                border: 0.1rem solid #AAA49E;
                border-radius: 0.6rem;
                background: transparent;
                outline: none;

                @include breakpoint($sm-bp) {
                    font-size: 1.6rem;
                    line-height: 2.4rem;
                    margin-top: 2rem;
                }
            }

            .passwordRecovery-content__changeBtn {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 2.2rem;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #4F4A45;
                display: flex;
                align-items: center;
                justify-content: center;

                @include breakpoint($sm-bp) {
                    margin-top: 3.8rem;
                }
            }

            button {
                margin-top: 1.6rem;
                background: none;
                border: none;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 2.2rem;
                color: #FE6776;
                padding: 0rem;

                @include breakpoint($sm-bp) {
                    margin-top: 2.4rem;
                }
            }
        }
    }
}

.passwordRecovery-content__input {
    position: relative;
    margin-top: 3.2rem;

    @include breakpoint($sm-bp) {
        margin-top: 2rem;
    }

    input {
        margin-top: 0rem;
        width: 100%;
    }

    button {
        background: none;
        border: none;
        position: absolute;
        padding: 0rem;
        z-index: 2;
        margin-top: 0rem;
        right: 1.6rem;
        top: 50%;
        transform: translate(0%, -50%);
        display: flex;
        align-items: center;

        svg {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}