<button id="consultationBtn">Открыть модальное окно</button>

<div id="consultationModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p class="modal-content__title">Нужна консультация?</p>
        <p class="modal-content__subtitle">
            Заполните форму ниже и мы свяжемся с вами
        </p>

        <form action="#">
            <input type="text" name="name" placeholder="Имя*">
            <input type="tel" name="phone" placeholder="Телефон">
            <input type="email" name="mail" placeholder="E-mail*">
            <input type="text" name="comment" placeholder="Комментарий">
            <div class="basket-order__agreement">
                <input class="basket-order__agreement_checkBox" type="checkbox" id="agreementCheckbox" name="agreement">
                <label for="agreementCheckbox">Согласие на обработку персональных данных</label>
            </div>
            <input type="submit" class="modal-content__submit" value="оставить заявку">
        </form>
    </div>
</div>