<footer class="footer">
    <div class="footer-content">
        <a href="#">
            <svg>
                <use href="#logo"></use>
            </svg>
        </a>

        <div class="footer-content__textContainer">
            <div class="footer-content__information">
                <button class="footer-content__accordion">Информация</button>
                <ul class="footer-content__panel">
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Оплата и доставка</a></li>
                </ul>
            </div>

            <div class="footer-content__question">
                <h2>Нужна<br>консультация?</h2>

                <a href="#" class="main-aboutUs__arrowBtn">
                    Задать вопрос
                    <svg>
                        <use href="#aboutUsArrow"></use>
                    </svg>
                </a>
            </div>

            <div class="footer-content__catalog">
                <button class="footer-content__accordion">Каталог</button>
                <ul class="footer-content__panel">
                    <li><a href="#">Украшения</a></li>
                    <li><a href="#">Аксессуары для волос</a></li>
                    <li><a href="#">Коллекции</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-description">
        <a href="#">
            Политика обработки персональных данных
        </a>

        <p>© 2022. Интернет-магазин бижутерии Novaya Ya. Все права защищены</p>
    </div>
</footer>