<footer class="footer">
    <div class="footer-content">
        <a href="#">
            <svg>
                <use href="#logo"></use>
            </svg>
        </a>

        <div class="footer-content__textContainer">
            <div class="footer-content__information">
                <button class="accordion">Информация</button>
                <div class="panel">
                    <a href="#">О компании</a>
                    <a href="#">Контакты</a>
                    <a href="#">Оплата и доставка</a>
                </div>
            </div>

            <div class="footer-content__question">
                <h2>Нужна консультация?</h2>

                <a href="#" class="main-aboutUs__arrowBtn">
                    Задать вопрос
                    <svg>
                        <use href="#aboutUsArrow"></use>
                    </svg>
                </a>
            </div>

            <div class="footer-content__catalog">
                <button class="accordion">Каталог</button>
                <div class="panel">
                    <a href="#">Украшения</a>
                    <a href="#">Аксессуары для волос</a>
                    <a href="#">Коллекции</a>
                </div>
            </div>
        </div>
    </div>
</footer>