<header class="header">
    <div class="header-content header-padding">
        <div class="header-content__btnsContainer">

            <button class="header-content__burgerBtn">
                <div></div>
                <div></div>
                <div></div>
            </button>

            <a href="#" class="header-content__logo">
                <svg>
                    <use href="#logo"></use>
                </svg>
            </a>

            <div class="header-content__iconsContainer">
                <div class="header-content__searchContainer">
                    <input type="text" name="search" placeholder="Найти">
                    <button>
                        <svg>
                            <use href="#loopIco"></use>
                        </svg>
                    </button>
                </div>
                <a href="#" class="header-content__basketIco">
                    <svg>
                        <use href="#basketIco"></use>
                    </svg>

                    <div class="header-content__basketIcoCount">
                        0
                    </div>
                </a>
                <a href="#">
                    <svg>
                        <use href="#humanIco"></use>
                    </svg>
                </a>
            </div>
        </div>

        <ul class="header-content__list">
            <li>
                <a href="#">Украшения</a>
            </li>
            <li>
                <a href="#">Аксессуары для волос</a>
            </li>
            <li>
                <a href="#">Коллекции</a>
            </li>
            <li>
                <a href="#">О компании</a>
            </li>
            <li>
                <a href="#">Контакты</a>
            </li>
            <li>
                <a href="#">Оплата и доставка</a>
            </li>
        </ul>
    </div>

    <div class="header-menu">
        <button class="header-menu__cross"></button>
        <ul></ul>
        
        <div class="header-menu__searchContainer">
            <button>
                <svg>
                    <use href="#loopIco"></use>
                </svg>
            </button>
            <input type="text" name="search" placeholder="Поиск">
        </div>
    </div>
</header>